In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import torch as th

queens_gas = pd.read_excel('DMU.xls', sheet_name='Queens gas')
queens_elec = pd.read_excel('DMU.xls', sheet_name='Queens Elec.')

In [5]:
print(queens_gas.head())

        Date  00:30:00  01:00:00  01:30:00  02:00:00  02:30:00  03:00:00  \
0        NaT       NaN       NaN       NaN       NaN       NaN       NaN
1 2009-10-02     0.106     0.106     0.106     0.106     0.106     0.106
2 2009-10-03     0.050     0.050     0.050     0.050     0.050     0.050
3 2009-10-04     0.050     0.050     0.050     0.050     0.050     0.050
4 2009-10-05     0.050     0.050     0.050     0.050     0.050     0.050

   03:30:00  04:00:00  04:30:00  ...  19:30:00  20:00:00  20:30:00  21:00:00  \
0       NaN       NaN       NaN  ...       NaN       NaN       NaN       NaN
1     0.106     0.106     0.106  ...     0.050     0.050     0.050     0.050
2     0.050     0.050     0.050  ...     0.050     0.050     0.050     0.050
3     0.050     0.050     0.050  ...     0.050     0.050     0.050     0.050
4     0.050     0.050     0.050  ...    49.712    49.712    49.712    49.712

   21:30:00  22:00:00  22:30:00  23:00:00  23:30:00  1900-01-01 00:00:00
0       NaN       NaN       NaN       NaN       NaN                  NaN
1     0.050     0.050     0.050     0.050     0.050                0.050
2     0.050     0.050     0.050     0.050     0.050                0.050
3     0.050     0.050     0.050     0.050     0.050                0.050
4    49.712    49.712    49.712    49.712    49.712               49.712

[5 rows x 49 columns]